.GameState {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.GameState .column {
    flex-basis: 33%;
    flex-shrink: 1;
}

.GameState .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.GameState .row div {
    flex-basis: 33%;;
}
