body {
    background-color: black;
    color: white;
}

.App {
    text-align: center;
}

.App-header {
    height: 100px;
    padding: 20px;

    font-family: 'narpassword00000_fixed.normal';
}

.App-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.App-column {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}
