body {
    background-color: black;
    color: white;
}

.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}

.App-header {
    height: 100px;
    padding: 20px;
    font-family: 'narpassword00000_fixed.normal';
}

h2,h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'narpassword00000_fixed.normal';
}
