.MissileCount {
    font-family: 'narpassword00000_fixed.normal';
    display: block;
}

.MissileCount-container {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.MissileCount-icon {
    float: left;
}

.MissileCount-count {
    float: left;
    font-size: x-large;
}
