.PasswordEntry {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    align-items: center;
}

.PasswordEntry input[type=text] {
    border-radius: 4px;
    margin-right: 10px;
}

.PasswordEntry input[type=text].good {
    border: 10px solid #60F234;
}

.PasswordEntry input[type=text].bad {
    border: 10px solid #aa0000;
}

.PasswordEntry input {
    text-align: center;
    font-size: 18px;
    width: 400px;
    height: 40px;
    font-family: 'narpassword00000_fixed.normal';
}

.PasswordEntry .checksum {
    width: 30px;
    height: 60px;
}

.PasswordEntry .checksum .checksumChar {
    position: absolute;
}

.PasswordEntry .checksum .hash {
    color: gray;
    font-size: 50px;
    z-index: -1;
}

.PasswordEntry .checksum .good {
    color: #60F234;
    font-size: 38px;
    padding: 10px 10px;
    z-index: 1;
}

.PasswordEntry .checksum .bad {
    color: red;
    font-size: 38px;
    padding: 10px 10px;
    z-index: 1;
}
